<h2>Template: Básicos</h2>
<hr>

<section class="row">
  <article class="col">

    <!-- producto -->
    <form (submit)="guardar( miFormulario )"
          #miFormulario="ngForm"
          autocomplete="off">
      <section class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <article class="col-sm-9">
          <input type="text"
                 class="form-control"
                 placeholder="Nombre del producto"
                 ngModel
                 name="producto"
                 required
                 minlength="3">
          <span class="form-text text-danger"
                *ngIf="miFormulario.controls">
            Debe tener mínimo 3 letras
          </span>
        </article>
      </section>

      <!-- precio -->
      <section class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <article class="col-sm-9">
          <input type="number"
                 class="form-control"
                 placeholder="Precio del producto"
                 ngModel
                 name="precio"
                 required>
        </article>
      </section>

      <!-- existencias -->
      <section class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <article class="col-sm-9">
          <input type="number"
                 class="form-control"
                 placeholder="Existencias del producto"
                 ngModel
                 name="existencias">
        </article>
      </section>

      <!-- button -->
      <section class="row">
        <article class="col">
          <button type="submit"
                  class="btn btn-primary float-end">
            Guardar
          </button>
        </article>
      </section>

    </form>

  </article>
</section>


<section class="row">
  <article class="col">

    <span>Valid</span>
    <pre>{{ miFormulario.valid }}</pre>

    <span>Pristine</span>
    <pre>{{ miFormulario.pristine }}</pre>

    <span>Touched</span>
    <pre>{{ miFormulario.touched }}</pre>

    <span>Valid</span>
    <pre>{{ miFormulario.valid | json }}</pre>

  </article>
</section>
