<h2>Template: Básicos</h2>
<hr>

<section class="row">
  <article class="col">

    <!-- producto -->
    <form (submit)="guardar()"
          #miFormulario="ngForm"
          autocomplete="off">
      <section class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <article>
          <input type="text"
                 class="form-control"
                 placeholder="Nombre del producto"
                 [ngModel]="initForm.producto"
                 name="producto"
                 required
                 minlength="4">
          <span class="form-text text-danger"
                *ngIf="nombreVaido()">
            Debe tener mínimo 4 dígitos
          </span>
        </article>
      </section>

      <!-- precio -->
      <section class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <article>
          <input type="number"
                 class="form-control"
                 placeholder="Precio del producto"
                 [ngModel]="initForm.precio"
                 name="precio"
                 required>
          <span class="form-text text-danger"
          *ngIf="precioValido()">
            El precio es mínimo es de $100 MXN
          </span>
        </article>
      </section>

      <!-- existencias -->
      <section class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <article>
          <input type="number"
                 class="form-control"
                 placeholder="Existencias del producto"
                 [ngModel]="initForm.existencias"
                 name="existencias"
                 customMin
                 [minimo]="1"
                 required>
        </article>
      </section>

      <!-- button -->
      <section class="row">
        <article class="col">
          <button type="submit"
            	    [disabled]="miFormulario.invalid"
                  class="btn btn-primary float-end">
            Guardar
          </button>
        </article>
      </section>

    </form>

  </article>
</section>


<section class="row">
  <article class="col">

    <span>Valid</span>
    <pre>{{ miFormulario.valid }}</pre>

    <span>Pristine</span>
    <pre>{{ miFormulario.pristine }}</pre>

    <span>Touched</span>
    <pre>{{ miFormulario.touched }}</pre>

    <span>Valid</span>
    <pre>{{ miFormulario.valid | json }}</pre>

  </article>
</section>
